@import 'https://fonts.googleapis.com/css?family=Raleway';


div {
    height: 200px;
    width: 400px;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}


p{
    position: center;
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 40;
}
